body{
    background-color: rgba(223, 224, 230, 0.94);
}
#encabezado, #footer{
    background-color: rgba(17, 33, 109, 1) !important;
}

#img-jumb{
    align-items: center;
}

h1{
    font-size: 4rem !important;
}

#cont-img{
    margin: 0 !important;
}

#img-construccion{
   width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#section1{
    padding-top: 20rem;
}

#footer{
    clear: both;
    display: inline-flexbox;
}